.main-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .right-section {
    width: 55%;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 210px;
    height: 170px;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 14px;
    padding: 15px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .action-buttons {
      display: flex;
      justify-content: space-between;
      button {
        border-radius: 3px;
        font-size: 14px;
        padding: 2px 8px;
        cursor: pointer;
        &:nth-child(1) {
          color: white;
          background: #40a944;
          border: 1px solid #40a944;
        }
        &:nth-child(2) {
          color: white;
          background: #c70000;
          border: 1px solid #c70000;
        }
      }
    }
  }
}
.skeleton-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .skeleton-element {
    width: 100%;
    display: flex;
    width: 200px;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
.create-heading{
  text-align: center;
}